body {
    background: linear-gradient(138deg, rgb(32, 201, 255) 36.7%, rgb(0, 8, 187) 84.4%, rgb(255, 255, 255) 119.7%);
    height: 100vh;
    background-attachment: fixed;
}

.bg-transparent {
    background: transparent!important;
}
.content{
    position: relative;
    background-color: var(--body-color);
  }